<%= form_for(@notebook) do |f| %>
  <% if @notebook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notebook.errors.count, "error") %> prohibited this notebook from being saved:</h2>

      <ul>
      <% @notebook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="btn btn-small dropdown-toggle"
           data-toggle="dropdown"
           href="#">
          Click here and select subject
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown"><a>Computing  <%=  f.radio_button :subject_id, '1' %></a> </li>
          <li class="dropdown"><a>Animal Care  <%=  f.radio_button :subject_id, '2' %></a></li>
        </ul>
      </li>
    </ul>

  <div class="actions">
    <%= f.submit :class =>"btn" %>
  </div>
<% end %>
