<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @notebook.name %>
</p>

<p>
  <b>Description:</b>
  <%= @notebook.description %>
</p>
	<table class="table">
 	<tr>
 		<th>Name</th>
 		<th> Description</th>
 		<th>Date Due</th>
 	</tr>
 	<% @notebook.tasks.each do |task| %>
   	<tr>
		<td><%= task.name %></td>
	    <td><%= task.description %></td>
		<td><%= task.datedue.strftime("%m/%d/%Y") %></td>
	</tr>
	<%end%>
</table>

<p>
  <%	 if user_signed_in? && current_user == @notebook.user %>
  <%= link_to 'New Task', new_notebook_task_path(@notebook) %>

</p>


<%= link_to 'Edit', edit_notebook_path(@notebook) %> |
  <%	 end %>
<%= link_to 'Back', notebooks_path %>
