<%= form_for(@bulletin) do |f| %>
  <% if @bulletin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bulletin.errors.count, "error") %> prohibited this bulletin from being saved:</h2>

      <ul>
      <% @bulletin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

    <table class="table">
      <tr>
        <th>Subject</th>
      </tr>
      <tr>
        <td>Computing</td>
        <td><%=  f.radio_button :subject_id, '1' %></td>
      </tr>
      <tr>
        <td>Animal Care</td>
        <td><%=  f.radio_button :subject_id, '2' %></td>
      </tr>
    </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
