<%= form_for(@bulletin) do |f| %>
  <% if @bulletin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bulletin.errors.count, "error") %> prohibited this bulletin from being saved:</h2>

      <ul>
      <% @bulletin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="btn btn-small dropdown-toggle"
           data-toggle="dropdown"
           href="#">
          Click here and select subject
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown"><a>Computing  <%=  f.radio_button :subject_id, '1' %></a> </li>
          <li class="dropdown"><a>Animal Care  <%=  f.radio_button :subject_id, '2' %></a></li>
        </ul>
      </li>
    </ul>

  <div class="actions">
    <%= f.submit "Update Bulletin", :class =>"btn" %>
  </div>
<% end %>
