<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

    Please tick if you are a tutor <%= f.check_box :tutor  %>

    <br/>

    <table class="table">
      <tr>

      </tr>
    </table>

    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="btn btn-small dropdown-toggle"
           data-toggle="dropdown"
           href="#">
          Click here and select subject
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
      <li class="dropdown"><a>Computing  <%=  f.radio_button :subject_id, '1' %></a> </li>
          <li class="dropdown"><a>Animal Care  <%=  f.radio_button :subject_id, '2' %></a></li>
        </ul>
      </li>
    </ul>



    <div><%= f.submit "Sign up", :class => "btn" %></div>
<% end %>

<%= render "devise/shared/links" %>
